######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig
######################
# Maven
######################
/log/**
/target/**
#####################
# Package Files
######################
*.jar
*.war
*.ear
*.db

.jpb
.run